<?xml version="1.0" encoding="utf-8"?>
<!--
    Patiner Montréal for Android. 
    Information about outdoor rinks in the city of Montréal: conditions,
    services, contact, map, etc.

    Copyright (C) 2010 Mudar Noufal <mn@mudar.ca>

    This file is part of Patiner Montréal for Android.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mudar.patinoires"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="1.3">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- Required for MapView v2 -->
    <permission
        android:name="ca.mudar.patinoires.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ca.mudar.patinoires.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="ca.mudar.patinoires.PatinoiresApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_manifest"
        android:theme="@style/PatinoiresTheme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="__GOOGLE_MAPS_V2_API_KEY__" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="ca.mudar.patinoires.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.TabsPagerActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.MainActivity"
            android:theme="@style/TabsPagerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.RinkDetailsActivity"
            android:label="@string/app_name_details"
            android:launchMode="singleTop"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.MainActivity"
            android:theme="@style/DetailsTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="patinermontreal.ca"
                    android:pathPrefix="/rinks/"
                    android:scheme="http" />
                <data
                    android:host="patinermontreal.ca"
                    android:pathPrefix="/patinoires/"
                    android:scheme="http" />
                <data
                    android:host="fr.patinermontreal.ca"
                    android:pathPrefix="/patinoires/"
                    android:scheme="http" />
                <data
                    android:host="en.patinermontreal.ca"
                    android:pathPrefix="/rinks/"
                    android:scheme="http" />
                <data
                    android:host="m.patinermontreal.ca"
                    android:pathPrefix="/rinks/"
                    android:scheme="http" />
                <data
                    android:host="m.patinermontreal.ca"
                    android:pathPrefix="/patinoires/"
                    android:scheme="http" />
                <data
                    android:host="www.patinermontreal.ca"
                    android:pathPrefix="/rinks/"
                    android:scheme="http" />
                <data
                    android:host="www.patinermontreal.ca"
                    android:pathPrefix="/patinoires/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.MapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_map"
            android:launchMode="singleTop"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.MainActivity"
            android:theme="@style/MapTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.AboutActivity"
            android:exported="false"
            android:label="@string/app_name_about"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.MainActivity"
            android:theme="@style/AboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.EulaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/app_name_eula"
            android:launchMode="singleTop"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.AboutActivity"
            android:theme="@style/EulaTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.AboutActivity" />
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/app_name_preferences"
            android:theme="@style/PreferencesTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.SettingsActivityHC"
            android:exported="false"
            android:label="@string/app_name_preferences"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.MainActivity"
            android:theme="@style/PreferencesTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mudar.patinoires.ui.activity.SettingsNestedActivityHC"
            android:exported="false"
            android:label="@string/app_name_preferences"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.SettingsActivityHC"
            android:theme="@style/PreferencesTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.SettingsActivityHC" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.mudar.patinoires.ui.activity.SearchableActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName="ca.mudar.patinoires.ui.activity.MainActivity"
            android:theme="@style/SearchTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.patinoires.ui.activity.MainActivity" />
        </activity>

        <service android:name="ca.mudar.patinoires.services.SyncService" />
        <service android:name="ca.mudar.patinoires.services.DistanceUpdateService" />
        <service
            android:name="ca.mudar.patinoires.appwidget.WidgetUpdateService"
            android:enabled="@bool/has_honeycomb"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name="ca.mudar.patinoires.dashclock.FavoritesDashClockExtension"
            android:icon="@drawable/ic_widget_small_default"
            android:label="@string/dashclock_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/dashclock_content_desc" />
        </service>

        <receiver
            android:name="ca.mudar.patinoires.appwidget.FavoritesWidgetProvider"
            android:enabled="@bool/has_honeycomb"
            android:label="@string/app_name_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_favorites" />
        </receiver>

        <provider
            android:name="ca.mudar.patinoires.providers.RinksProvider"
            android:authorities="ca.mudar.patinoires"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="ca.mudar.patinoires.ui.activity.SearchableActivity" />
    </application>

</manifest>